body{
	background-color: #2489dd;
	font-family: "Gotham", Helvetica, sans-serif;
	color:#fff;
	text-align: center;
}

div {
	position: absolute;
    left: 50px;
    margin: 50px;
}

button:hover{
	color: #f7eb45;
	border-width: 1px;
	background-color: #fff;	
}

button{
	width: 100px;
	height: 80px;
	border-radius: 10%;
	background-color: #fff;
	border-width: 1px;
	font-size: 20pt;
	padding: 0, auto;
}

